section.anckers
    .wrapper
        - var items = []
        - items.push({'id':'#boneplastic','date':'27.02.2016г', 'title':'«Костная пластика»', 'author':'<br>Липатов А.С.', 'spec':'ведущий специалист<br>ИНТАН'});
        - items.push({'id':'#allfour','date':'29.02.2016г', 'title':'«Все на четырех»', 'author':'Вохмянина Ю.В.<br>Гасанов Г.Г', 'spec':'ведущий специалист<br>ИНТАН'});
        - items.push({'id':'#onemoment','date':'02.03.2016г', 'title':'«Одномоментня имплантация»', 'author':'<br>Теньков С.Н.', 'spec':'ведущий специалист<br>ИНТАН'});
        - items.push({'id':'#fundations','date':'03.03.2016г', 'title':'«Основы протезирования<br>на имплантатах»', 'author':'Лемешева Е.А.', 'spec':'ведущий специалист<br>ИНТАН'});
        - items.push({'id':'#methods','date':'04.03.2016г', 'title':'«Методы костной<br>пластики в имплантологии»', 'author':'Васильев А.В.', 'spec':'Профессор,<br>Доктор медицинских наук'});
        each item, i in items   
            .pull-left.anckers__item(data-target="#{item.id}")
                .anckers__date
                    span !{item.date}
                .anckers__title
                    span !{item.title}
                .anckers__author
                    span !{item.author}
                .anckers__spec
                    span !{item.spec}
        .clearfix
        
